.sectionWrapper {
  display: contents;
}
.contentWrapper {
  width: 100vw;
  height: 100%;
  position: relative;
  left: calc(-1 * var(--margin-page));
  bottom: calc(-1 * var(--margin-page));
  margin-top: 100vh;
  z-index: 2;

  background: rgba(0, 0, 0, 0.9); /* REQUIRED */
  padding: var(--margin-page);
}

.movieDescription {
  color: var(--accent);
}

.filmDescription {
  color: var(--accent);
}

.filmCredits {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.filmCredit {
  margin-bottom: var(--margin-4);
}
.filmCredits .role {
  color: var(--accent);
}

.filmComment:not(:last-child) {
  margin-bottom: var(--margin-2);
}

.filmComment .text {
  color: var(--accent);
}

.commentInformation {
  display: grid;

  /* grid-template-columns: (1fr, repeat(12)); */
  padding-top: var(--margin-4);
}
.filmComment .readMore {
  grid-column: 10 / 12;
}

.interviewHeading {
  margin-bottom: var(--margin-2);
}

.interviewSubtitle {
  color: var(--accent);
}

.filmReviews {
  column-count: 2;
}
.filmReview {
  break-inside: avoid;
  flex-direction: column;
  margin-bottom: var(--margin-4);
}
.filmReview:last-child {
  margin-bottom: 0;
}

.filmReview_credit {
  color: var(--accent);
}

.loadNext {
  width: 100%;
  margin: var(--margin-2) auto;
  text-align: center;
}

.filmSupportingMedia {
  padding: var(--margin-page);
  background: #fff;
}

/* Hover Events, Desktop Only */
@media (hover: hover) and (pointer: fine) {
}

/* Phones */
@media screen and (min-width: 320px) {
}

@media (max-height: 500px) and (orientation: landscape) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .filmCredits {
    display: flex;
    flex-direction: column; /* stack items vertically first */
    flex-wrap: wrap; /* allow items to wrap to new column */
    height: 250px; /* fixed height to control 6 items per column */

    align-content: flex-start;
  }

  .filmCredit {
    flex: 0 0 auto; /* don't shrink or grow, keep natural height */
    width: calc(100% / (24 / 3)); /* 3/24 of container width per column */
  }

  .sectionWrapper {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
  }

  .sectionWrapper section {
    display: contents;
    margin-bottom: 0;
  }

  /* Comments + SupportingMedia */
  .sectionWrapper.commentsAndMedia .filmComments {
    grid-column: 1 / 12;
  }

  .sectionWrapper.commentsAndMedia .filmSupportingMedia {
    grid-column: 13 / 25;
  }

  .sectionWrapper.commentsAndMedia {
    margin-bottom: var(--margin-1);
  }

  .filmSupportingMedia {
    position: sticky;
    margin-bottom: 0;
    height: fit-content;
    grid-column: 14 / 25;
  }

  /* // Interview + Reviews */

  .filmInterview_Section .filmInterview {
    display: contents;
  }
  .filmInterview_Section .interviewHeading {
    grid-column: 1 / 20;
  }
  .filmInterview_Section .interviewText {
    grid-column: 1 / 12;
  }

  .sectionWrapper.interviewAndReviews .filmReviews {
    grid-column: 21 / 25;
    position: sticky;
    top: 50%;
    height: fit-content;
  }

  .filmReviews {
    column-count: 1;
  }
  .sectionWrapper.interviewAndReviews {
    margin-bottom: var(--margin-1);
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .interviewText {
    grid-column: 1 / 12;
  }
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
