.filmSlide {
  height: 75vh;
  width: 75vw;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* optional: keeps image contained */

  cursor: pointer;
}

.viewport {
  position: fixed;
  height: 100vh;
  width: 100vw;

  top: 0;
  left: 0;

  overflow: hidden;
}

.track {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
}
