.carousel_outer {
  max-width: 100vw;
  margin: auto;
  user-select: none;
  cursor: grab;
  overflow: hidden;
}

.carousel_outer {
  cursor: grab;
}

.carousel_outer:active,
.carousel_outer:active * {
  cursor: grabbing !important;
}

.carousel_inner {
  display: flex;
  touch-action: pan-y pinch-zoom;
}
.slide {
  height: 100vh;
}

@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
