.publicationsContainer {
}

/* Hover Events, Desktop Only */
@media (hover: hover) and (pointer: fine) {
}

/* Phones */
@media screen and (min-width: 320px) {
}

@media (max-height: 500px) and (orientation: landscape) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .publicationsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: var(--gap-vertical);
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
