.publicationsContainer {
}

/* Hover Events, Desktop Only */
@media (hover: hover) and (pointer: fine) {
}

/* Phones */
@media screen and (min-width: 320px) {
}

@media (max-height: 500px) and (orientation: landscape) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .publicationsContainer {
    column-count: 2;
    column-gap: var(--gap-vertical);
  }

  .publicationsContainer > * {
    break-inside: avoid;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
