.filmSlide {
  height: var(--content-height);

  margin-bottom: var(--margin-page);
}

.filmSlide:last-of-type {
  margin-bottom: 0;
}

.gallery {
  position: fixed;
  inset: 0;
  overflow: hidden;
}
