.publicationDisplay {
  background: var(--foreground);
  color: var(--background);
  margin-bottom: var(--gap-horizontal);

  display: grid;
  grid-template-rows: auto calc(100vw - (4 * var(--margin-page))) auto;
  row-gap: var(--margin-page);
  padding: var(--margin-page);
}

.publicationDisplayExpandable {
  cursor: pointer;
}

.publicationMediaContainer {
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.publicationExcerptsWrapper::before {
  content: "";
  display: block;
  height: 1px;
  background: black;
  width: calc(100vw - (4 * var(--margin-page)));
  margin: var(--margin-4) 0;
}

.excerptWrapper:not(:last-child) {
  margin-bottom: var(--margin-2);
}

/* Hover Events, Desktop Only */
@media (hover: hover) and (pointer: fine) {
}

/* Phones */
@media screen and (min-width: 320px) {
}

@media (max-height: 500px) and (orientation: landscape) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .publicationDisplay {
    grid-template-rows: auto 500px auto;
  }

  .publicationExcerptsWrapper::before {
    width: calc(50vw - (3 * var(--margin-page)));
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
